body {
	background-color: #080808;
	background-image: url("../img/math.png");
	background-size: 125%;
	background-position: center 35%;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Varela Round', sans-serif;
}

input[type="number"] {
	background-color: rgb(225, 149, 35);
	color: rgb(255, 255, 255);
	height: 40px;
	width: 250px;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	border-radius: 25px;
	border: none;
}

button {
	height: 40px;
	width: 250px;
	margin-top: 40px;
	border-radius: 25px;
	border-style: solid;
	border-color: white;
	background-color: #484848;
	color: white;
}

button:hover {
	background-color: #484848;
	cursor: pointer;
	transition: .2s;
} 

h2 {
	color: white;
	margin-top: 25px;
}

.calculator {
	margin-top: 230px;
}

input[type="radio"] {
	display: none;
}

label {
	background: none;
	border: 2px solid #fff;
	cursor:pointer;
	height: 35px;
	margin: 0;
	vertical-align: middle;
	width: 35px;
}

input[type="radio"]:checked + label {
	background: #484848;
}

input[type="radio"]:hover + label {
	background: #484848;
	transition:  .1s;
}

.operations {
	width: 180px;
}

.operation {
	padding: 0;
}